@import url('./font.css');

body {
    background-color: #F6E6CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
    padding-bottom: 2%;
    font-size: 250%;
}

p {
    margin: 0;
}
